<div class="list-group sidebar">
	<div class="list-group-item header">
		Playground Post
	</div>
	<div class="list-group-item body" ng-init="search_category({search:'Examples', name:'search_playground'})">
		<div class="row">
			<div class="col-md-6" ng-repeat="item in search_playground | orderBy : '-counter_post' " ng-if="$index < 2">
				<div class="post-group-item">
					<img class="post-image" src="{{item.avatar_post?url_image(item.avatar_post):'assets/images/no-image.png'}}">
					<div class="post-title"><strong>{{item.title}}</strong></div>
					<div class="post-component row">
						<div class="col-md-6">
							<span class="text-muted">2, Januari 2017</span>
						</div>
						<div class="col-md-6">
							<span class="text-muted pull-right">
								{{item.counter_post}} <i class="glyphicon glyphicon-eye-open"></i>
								30 <i class="glyphicon glyphicon-comment"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mdl-grid" style="margin-top: 30px;">
			<div class="mdl-cell mdl-cell--6-col post-group-item" ng-repeat="item in search_playground | orderBy : '-counter_post' " ng-if="$index > 2">
				
				<div class="media" >
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="{{item.avatar_post?url_image(item.avatar_post):'assets/images/no-image.png'}}" alt="..." style="width: 100px; height:100px;">
						</a>
					</div>
					<div class="media-body">
						<h6 class="media-heading">{{item.title}}</h6>
						<div class="media-footer row">
							<div class="col-md-6">
								<span class="text-muted">2, Januari 2017</span>
							</div>
							<div class="col-md-6">
								<span class="text-muted pull-right">
									{{item.counter_post}} <i class="glyphicon glyphicon-eye-open"></i>
									30 <i class="glyphicon glyphicon-comment"></i>
								</span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="list-group-item bottom text-center">
		Show All post
	</div>
</div>